.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    margin: 30px 0 0 0;
    color: #041E41;
    width: 100%;
    padding: 0;
}

.p {
    text-align: center;
    font-size: 20px;
    width: 100%;
    font-family: 'Comfortaa', sans-serif;
    margin: 10px 0 0 0;
    color: #041E41;
    font-weight: 500;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.error {
    font-family: "Comfortaa", sans-serif;
    color: #CC7038;
    margin-top: 15px;
}

