#root {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #30B194;
    overflow-y: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
