.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #03624D;
    z-index: 1000;
    border-bottom: 3px solid #014032;
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 15px 0;
}

.logo {
    font-family: "Comfortaa", sans-serif;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #30B194;
    cursor: pointer;
    transition: opacity 0.2s;
}

.logo:hover {
    opacity: 0.8;
}

.buttons {
    display: flex;
    gap: 25px;
    align-items: center;
}